*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: rgb(63, 201, 243);
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
ul{
  list-style: none;
  display: flex;
  flex-direction: row;
}
li{
  display: flex;
  padding-right: 10px;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  background-color: white;
}

main{
  display: flex;
  justify-content: center;
}